
# Xcode
#
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# iOS App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# OS X temporary files
.DS_Store
.Trashes
*.swp

# Sensitive or project-specific files
GoogleService-Info.plist
FlashChat-iOS13/Flash Chat iOS13/GoogleService-Info.plist
FlashChat-iOS13/Flash Chat iOS13.xcworkspace/xcuserdata/enriquebarclay.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
FlashChat-iOS13/Flash Chat iOS13.xcodeproj/project.pbxproj
FlashChat-iOS13/Flash Chat iOS13.xcodeproj/project.pbxproj
FlashChat-iOS13/Flash Chat iOS13.xcodeproj/project.pbxproj
FlashChat-iOS13/Flash Chat iOS13.xcodeproj/project.pbxproj
FlashChat-iOS13/Flash Chat iOS13.xcworkspace/xcshareddata/swiftpm/Package.resolved
FlashChat-iOS13/Pods/Pods.xcodeproj/xcuserdata/enriquebarclay.xcuserdatad/xcschemes/Pods-Flash Chat iOS13.xcscheme
